# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
.next/
out/
dist/

# Env & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.example   # keep the example, ignore others

# Logs
logs
*.log
*.log.*
*.csv
*.pid
*.seed
*.pid.lock

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db

# Coverage
coverage/

# Typescript
*.tsbuildinfo
next-env.d.ts

# Tailwind JIT cache
.tailwindcss/

# Misc
.cache/
.parcel-cache/
.vercel/
firebase-debug.log
